{% extends 'home.html' %}
{%block content %}


<div class="conteiner-fluid pt-2">
    <img src="/statics/marija-zaric-Vdz1YQgDQz8-unsplash.jpg" width="400" class="img-thumbnail rounded mx-auto d-block" alt="...">
</div>
<div class="container my-2" style="background-color: rgba(100, 148, 237, 0.658); border: 2px solid black;">


    <h3 class="text-uppercase text-center font-weight-bold">Boost Your Privacy</h3>
    <p class="container">The key aspects of a strong password are length (the longer the better); a mix of letters
        (upper and lower case), numbers, and symbols, no ties to your personal information, and no dictionary words. The
        good news is you don’t have to memorize awful strings of random letters numbers and symbols in order to
        incorporate all of these aspects into your passwords</p>

</div>




<footer>
    <div class="container" style="border: 2px solid black; background-color: rgba(250, 245, 242, 0.493);">
        <pre>
       <hr>To prevent your passwords from being hacked by social engineering, brute force or dictionary attack method, and keep your online accounts safe, you should notice that:
       <hr>1. Do not use the same password, security question and answer for multiple important accounts.
       <hr>2. Use a password that has at least 16 characters, use at least one number, one uppercase letter, one lowercase letter and one special symbol.
       <hr>3. Do not use the names of your families, friends or pets in your passwords.
       <hr>4. Do not use postcodes, house numbers, phone numbers, birthdates, ID card numbers, social security numbers, and so on in your passwords.
       <hr>5. Do not use any dictionary word in your passwords. Examples of strong passwords: ePYHc~dS*)8$+V-' , qzRtC{6rXN3N\RgL , zbfUMZPE6`FC%)sZ. Examples of weak passwords: qwert12345, Gbt3fC79ZmMEFUFJ, 1234567890, 987654321, nortonpassword.
       <hr>6. Do not use two or more similar passwords which most of their characters are same, for example, ilovefreshflowersMac, ilovefreshflowersDropBox, since if one of these passwords is stolen, then it means that all of these passwords are stolen.
       <hr>7. Do not use something that can be cloned( but you can't change ) as your passwords, such as your fingerprints.
       <hr>8. Do not let your Web browsers( FireFox, Chrome, Safari, Opera, IE, Microsoft Edge ) to store your passwords, since all passwords saved in Web browsers can be revealed easily.
       <hr>9. Do not log in to important accounts on the computers of others, or when connected to a public Wi-Fi hotspot, Tor, free VPN or web proxy.
       <hr>10. Do not send sensitive information online via unencrypted( e.g. HTTP or FTP ) connections, because messages in these connections can be sniffed with very little effort. You should use encrypted connections such as HTTPS, SFTP, FTPS, SMTPS, IPSec whenever possible.
     </pre>
    </div>
</footer> 

{% endblock content %}