{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %} 
 <div class=" pt-5">
        <div class="container">
            {% if messages %}
    
            <div class="alert alert-dark  messages" role="alert">
    
                {% for message in messages %}
                {{ message }}
                {% endfor %}
    
            </div>
            {% endif %}
        </div>


<div class="container">

    
    <form method="POST" class="container my-4">
        {% csrf_token %}
        <legend>Log In</legend>
        {{ form|crispy}}
        <button type="submit" class="btn btn-primary btn-lg">Log in</button>
        <a href="/reset_password/">Forgot password?</a>
    </form>
</div>

{% endblock body %}