{% extends 'base.html' %}
{% block body %}
<div class=" pt-5">
    <div class="container">
        {% if messages %}

        <div class="alert alert-dark  messages" role="alert">

            {% for message in messages %}
            {{ message }}
            {% endfor %}

        </div>
        {% endif %}
    </div>
<div class="container">

    <form action="/verify/" method="POST">
        {% csrf_token %}
        <label for="code">Enter Otp</label>
        <input type="text" name="code" id="code" class="form-control">
       
      
        <button type="submit" class="btn btn-primary btn-lg btn-block">Verify</button>
        
    </form>
    
</div>

{% endblock body %}